@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar-brand,
.nav-link {
  color: rgb(241 241 241);
}

.navbar-toggler {
  background-color: rgb(241 241 241);
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(180, 180, 183);
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: rgb(180, 180, 183);
}
