/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.925rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d !important;
  text-align: left;
  background-color: #f7f8f9;
}

.page-content {
  padding: 100px 0 50px 0;
}
h1,
h2,
h4,
h5,
h6,
label {
  font-weight: 600;
  color: #0d233e;
  font-size: 0.925rem;
}
